.navbar{
  background-color: black;
  
}

.navbar > nav {
  width: min(1600px, 100%);
  display: flex;
  margin-inline: auto;
  gap: 2em;
  align-items: center;
}

.navbar > nav > h2 {
  margin-inline-start: auto;
}

.navbar > nav > a {
  color: rgba(250, 250, 249, 0.65);
  transition: color 0.1s, 
  text-decoration 0.1s;
  text-decoration: none;
}

.navbar > nav > a:hover {
  color: rgba(250, 250, 249, 0.9);
  text-decoration: underline;
}

.navbar_link_active{
  color: rgba(250, 250, 249, 1) !important;
}




.themePage {
  width: min(1200px, 100%);
  margin-inline: auto;
  padding: 32px 16px;
}


.themeOne {

}

.t1Upsell {

}

.t1Upsell > h2 {
  text-align: center;
  margin: 0.83rem;
}

.t1Upsell--slideWrap {
  margin: 16px 0 48px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.t1Upsell--slideWrap > div {
  width: 25%;
  flex-shrink: 0;
  transition: all 0.3s;
  padding-inline-end: 1%;
}

.UpsellCard > div{
  border: 1px solid rgb(241, 242, 246);
  border-radius: 4px;
  background-color: #fafaf9;
  display: flex;align-items: center;
  justify-content: center;
  overflow: hidden;
}

.UpsellCard img {
  max-width: 262px;
  max-height: 262px;
}

.UpsellCard img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}